.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.github/**
docs/**
.gitignore
.yarnrc
esbuild.js
SecureZip.code-workspace
*.vsix
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
